body{
    background:url('../images/paper.jpg') ;
	min-height:100%;
	background-size:cover;
		min-height:100%;
}
}

#detail_main{
background: silver;
border: 2px solid red;
}
/*

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}
*/