
body{


	background:url('http://1.bp.blogspot.com/_C6FmzKkyfws/TMsLK17wTLI/AAAAAAAAAcA/lRf7ibqhHE8/s1600/confused.jpg') ;
	min-height:100%;
	background-size:cover;
		min-height:100%;
}

.welcome{
font-family: 'Rokkitt', serif;
color: white;
}