{% extends "web_app/baseWebapp.html" %}
{% load staticfiles %}
 {% block body_block %}
<div class="container">
    <h1></h1>
    <br><br><br><br>



      <h1></h1>
    <br>




<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 ">
                <div class="thumbnail text-center">

                    <img src="{% static 'images/ajahn.jpg' %}">

                    </div>
                </div>



                <div class="col-sm-6 col-md-6 ">
                <div class="thumbnail text-center">


                    <h3><strong>AJAHN TONG SIRIMANGALO</strong></h3><br><br><p>A thaiföldi Wat Phradat Sri Chomtong Voravihara Meditációs Központ és kolostor apátja. 1923-ban született, 12 éves kora óta él buddhista szerzetesként. Az utóbbi 60 évet a Vipassna Meditáció tanításának szentelte. A 93 éves Vipassana Mester jelenleg is tanít Thaiföldön.<br><br><br><br><br><br><br><br><br><br></p>
                          </div>
            </div>

        </div>
</div>



{% endblock %}